name: Allure Report (GitHub Pages)

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run tests
        run: mvn -DsuiteXmlFile=testng-daily-reports.xml test
        continue-on-error: true

      - name: Generate Allure report (Maven)
        if: always()
        run: mvn allure:report -Dallure.results.directory=target/allure-results

      - name: Upload Allure report
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/site/allure-maven

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
