name: Saferoad Daily Report Automation Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
  schedule:
  - cron: "0 5 * * *"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  test-and-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run TestNG suite
        run: mvn -DsuiteXmlFile=testng-daily-reports.xml test

      - name: Generate Allure report
        run: mvn allure:report


      - name: Debug - Allure report files
        run: |
          echo "=== target/site ==="
          ls -la target/site
          echo "=== allure-maven-plugin ==="
          ls -la target/site/allure-maven-plugin

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/site/allure-maven-plugin

  deploy:
    needs: test-and-report
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          to: sudki.kfa@gmail.com
          from: GitHub Actions
          subject: ${{ job.status == 'success' && 'Daily Report Passed' || 'Daily Report Failed' }}
          body: |
            Daily CI execution finished.

            Status: ${{ job.status }}

            Allure Report:
            https://sudki.github.io/SaferoadReportsAutomationTest/

            Branch: ${{ github.ref_name }}
            Triggered by: ${{ github.event_name }}
            Run ID: ${{ github.run_id }}
